.modalTitle {
    text-align: center;
}

.modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.modalButtons button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    background-color: #f3a703;
    color: white;
}

.btnDanger {
    background-color: #ff1b1b !important;
}