.header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 10%;
    background-color: #fcb214;
    padding: 10px 0;
}

.navItem {
    font-size: 20px;
    margin: 5px 0;
}

.navLink {
    color: white;
    text-decoration: none;
}