.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    background-color: #fcb214;
}

.navItem {
    font-size: 20px;
    margin: 0 5px;
}

.navLink {
    color: white;
    text-decoration: none;
}